*{
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: arial;
    background-color: #e6dce2;
    color: #2adbd9;
}

h1 {
    background-color: #2f2409;
    padding: 1rem;
}

h2{
    background-color: #2f2409;
    padding: 1rem;
}

.Soap {
    max-width: 100%;
    width: auto;
}


main p {
    font-size: 2rem;
}

.links {
    background-color: #2f2409;
    
    text-decoration: none;
    color: #2adbd9;

    display: flex;
    justify-content: center;   
}

a {
    color: #2adbd9;
    text-decoration: none;
    padding: .5rem;

    display: flex;
    justify-content: space-evenly;
    
}

a:hover {
    color: darkblue;
}

footer {
   position: relative;
   bottom: 0%;
   

}