*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #e6dce2;
}

header {
    text-align: center;
    background-color: #2f2409;
    color: #2adbd9;
    padding: 1rem;
    font-size: 1.5rem;

}

a {
    color: #2adbd9;
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 25%;
    padding: 1rem;
}

.soap {
     text-align: center;   
}

.twosoap {
    text-align: center;
}

.threesoap {
    text-align: center;
    padding-bottom: 2rem;
}

a:hover {
    color: darkblue;
}

footer {
    text-align: center;
    background-color: #2f2409;
    color: #2adbd9;
    padding: 1.5rem;
}